@mixin app-breakpoint() {
  @media (min-width: 320px) and (max-width: 1023px) {
    @content;
  }
}

.logout-asset {
  margin-top: 10px;
	float: right !important;	
	color: white;
}

.logout-asset  a{
	color: white;
	font-weight: bold;
}

.govuk-header-check-my-diary{
  font-size: 2.0rem;
  line-height: 1.25;
  font-weight: bold;
}

.govuk-calendar-details-a-ref{
  font-size: 1.0rem;
}