{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/contact-us",
        text: "Contact us"
      },
      {
        href: "https://eu.surveymonkey.com/r/HJTL6XS?source=check-my-diary",
        text: "Feedback"
      }
    ]
  }
}) }}