<header class="govuk-header" role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
        <span class="moj-header__logotype-crest"></span>
        <span class="govuk-header-check-my-diary">Check my diary</span>
      </span>      
    </div>
    <% if (typeof uid !== 'undefined') { %>      
      <% if (typeof employeeName != 'undefined') { %>
        <div class="logout-asset">
          You are logged in as <%= employeeName %>. <a class="bold-xsmall" href="/auth/logout">Log out</a>
        </div>
      <% } else { %>
        <div class="logout-asset">
          <a class="bold-xsmall" href="/auth/logout">Log out</a>
        </div>
      <% } %>
    <% } %>
  </div>
</header>