{%- from "moj/components/header/macro.njk" import mojHeader -%}

{{ mojHeader({
  organisationLabel: {
    text: "HMPPS",
    href: "#"
  },
  serviceLabel: {
    text: {{ applicationName }},
    href: "/"
  },
  navigation: {
    label: "Account navigation",
    items: [
    {
      text: "Notifications",
      href: "/notifications"
    }, 
    {
      text: {{ user.displayName | initialiseName }},
      href: "/account-details",
      data-test="logged-in-name"
    }, 
    {
      text: "Sign out",
      href: "/sign-out",
      data-qa="signOut"
    }]
  }
}) }}
