<meta charset="utf-8" />

<title>Check my diary</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta property="og:image" content="/public/images/opengraph-image.png"/>

<link rel="manifest" href="/public/manifest.json"/>
<link rel='stylesheet' href='/public/stylesheets/application.css'/>
<link rel='shortcut icon' href='/public/images/favicon.ico?0.19.2' type="image/x-icon"/>
<link rel="mask-icon" href="/public/images/logo.svg?0.19.2" color="#0b0c0c"/>

<link rel="apple-touch-icon" href="/public/images/icons/icon-512x512.png"/>
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/public/images/icons/icon-180x180.png"/>
<link rel="apple-touch-icon-precomposed" sizes="167x167" href="/public/images/icons/icon-167x167.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/icons/icon-152x152.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/images/icons/icon-120x120.png"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/images/icons/icon-76x76.png"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/images/icons/icon-60x60.png"/>

<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/govuk-template.css?" media="screen" rel="stylesheet" type="text/css"/>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
<link href="/public/stylesheets/fonts.css?0.19.2" media="all" rel="stylesheet"/><!--<![endif]-->
<!--[if IE 8]>
<link href="/public/stylesheets/govuk-template-ie8.css?0.19.2" media="screen" rel="stylesheet"/><!--<![endif]-->

<!--[if lt IE 9]>
<link href="/public/stylesheets/grid-old-ie.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/public/stylesheets/application-oldie.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="/public/javascripts/ie.js?0.19.2"></script>
<![endif]-->
