<header class="moj-header" role="banner">
  <div class="moj-header__container moj-width-container">
  <div class="moj-header__logo">
      <a href="/" class="moj-header__link moj-header__link--homepage">
          <span class="govuk-header__logotype">
            <img class="govuk-header__logotype-crown-fallback-image" src="/assets/images/moj-logotype-2x.png" alt="crest" width="42" height="35">
        <span class="moj-header__link--organisation-name">
              HMPPS
        </span>
        <span class="moj-header__link--service-name">
          Check My Diary
        </span>
      </span>
      </a>
  </div>

      <div class="moj-header__content">

        <nav class="moj-header__navigation" aria-label="Account navigation">

          <ul class="moj-header__navigation-list">
          <% if (typeof employeeName != 'undefined') { %>
              <li class="moj-header__navigation-item">
                <div class="moj-header__navigation-item moj-header__navigation-item--active"><%= employeeName %></div>
              </li>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="<%= authUrl %>/account-details">Manage your details</a>
              </li>
          <% } %>
              <li class="moj-header__navigation-item">
                <a class="moj-header__navigation-link" href="/logout">Sign out</a>
              </li>
          </ul>
        </nav>
      </div>

  </div>
</header>
