{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  {% include "./head.njk" %}
{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
   {% if fromDPS %}
      {{ govukBreadcrumbs({ items: [{ text: 'Digital Prison Services', href: dpsHomeUrl }] }) }}
   {% endif %}

  <div role="navigation">
     {% if backLinkHref %}
       {{ govukBackLink({
         text: "Back",
         href: backLinkHref,
         attributes: { "id": "back" }
       }) }}
     {% endif %}
  </div>
  
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {% include "./footer.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
