<div class="app-tabs-wrapper">
	<ul class="app-tabs" role="tablist">
		<li class="app-tabs-item <%= tab == "Calendar" ? "app-tabs-item--active" : "" %>" role="tab">
			<a href="/">Calendar</a>
		</li>
		<li class="app-tabs-item <%= tab == "Notifications" ? "app-tabs-item--active" : "" %>" role="tab">
			<a href="/notifications">Shift Changes <span class="app-tabs-item__notification">2 new</span></a>
		</li>
	</ul>
</div>
