<div class="tabs-wrapper">
	<ul role="tablist" class="tabs">
		<li role="tab">
			<a class="active" href="/{{proto_version}}/index-tab">Calendar</a>
		</li>
		<li role="tab">
			<a href="/{{proto_version}}/notifications/index-tab">Notifications <span class="badge badge-important loud font-xsmall">2 new</span></a>
		</li>
	</ul>
</div>