version: '3.1'
services:
  check-my-diary-db:
    image: postgres:10.6
    networks:
      - hmpps
    container_name: check-my-diary-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=check-my-diary
      - POSTGRES_USER=check-my-diary
      - POSTGRES_DB=check-my-diary

  oauth-server:
    image: quay.io/hmpps/nomis-oauth2-server:latest
    networks:
      - hmpps
    container_name: oauth-server
    ports:
      - '9090:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/auth/health']
    environment:
      - SPRING_PROFILES_ACTIVE=dev

networks:
  hmpps:
