version: '3.1'
services:
  check-my-diary-db:
    image: postgres:15
    networks:
      - hmpps
    container_name: check-my-diary-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=check-my-diary
      - POSTGRES_USER=check-my-diary
      - POSTGRES_DB=check-my-diary

  check-my-diary-redis:
    image: 'redis:6.2'
    networks:
      - hmpps
    container_name: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  oauth-server:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: oauth-server
    restart: unless-stopped
    ports:
      - '9191:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/auth/health']
    environment:
      - SPRING_PROFILES_ACTIVE=dev

  cmd-api:
    image: quay.io/hmpps/cmd-api:latest
    networks:
      - hmpps
    depends_on:
      - check-my-diary-db
      - check-my-diary-redis
    container_name: cmd-api
    restart: unless-stopped
    ports:
      - '8080:8080'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8080/health']
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DATABASE_ENDPOINT=check-my-diary-db:5432
      - DATABASE_USERNAME=check-my-diary
      - DATABASE_PASSWORD=check-my-diary
      - DATABASE_NAME=check-my-diary

networks:
  hmpps:
