.app-link-\!-border {
  border-left: 1px solid govuk-colour('mid-grey');
  padding-left: 5px;
}

ul.calendar .calendar-item {
  float: left;
  width: 14.1%;
  list-style: none;
  border: 1px solid govuk-colour('mid-grey');
  margin-left: -1px;
  margin-top: -1px;

  @include app-breakpoint {
    clear: left;
    width: 100%;
    margin-bottom: 20px;
    border-right: 1px solid govuk-colour('mid-grey');
    border-bottom: 1px solid govuk-colour('mid-grey');
  }
}

@media(max-width:1023px){
  .hide-0-to-1024{
    display:none;
  }
}

@media (min-width: 1024px) {
  .hide-1024-up {
    display: none;
  }
}

ul.calendar {

  padding: 0;
  @include govuk-font(16);

  .rest-day,
  .holiday,
  .shift,
  .illness,
  .absence,
  .detached-duty,
  .tu-official,
  .no-day,
  .calendar-item a {
    display: block;
    position: relative;
    height: 200px;
    text-decoration: none;
    color: govuk-colour('black');

    @include app-breakpoint {
      height: inherit;
    }
  }

  .rest-day {
    background-color: govuk-colour('orange');
  }

  .holiday {
    background-color: govuk-colour('yellow');
  }

  .illness {
    background-color: govuk-colour('light-green');
  }

  .absence {
    background-color: govuk-colour('yellow');
  }

  .detached-duty {
    background-color: govuk-colour('brown');
  }

  .tu-official {
    background-color: govuk-colour('pink');
  }

  .no-day {
    background-color: govuk-colour('light-grey');

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item.calendar-header {
    @include govuk-typography-weight-bold;
    border: 0;
    text-align: center;

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item span{
    display: block;
    padding-left: 5px;

    &.day {
      padding-top: 5px;
      padding-left: 8px;
      margin-bottom: 3px;
      background-color: govuk-colour('white');
    }

    &.line{
      margin: 2px 3px 0;
      border-radius: 2px;
      height:23px;
      color: govuk-colour('white');
    }

    &.line-text{
      padding-left: 8px;
      color: govuk-colour('black');
    }

    &.day_start {
      background-color: govuk-colour('green');
    }

    &.day_finish {
      background-color: govuk-colour('red');
    }

    &.overtime_day_start, &.overtime_night_start {
      background-color: govuk-colour('purple');
    }

    &.overtime_day_finish, &.overtime_night_finish {
      background-color: govuk-colour('light-purple');
    }

    &.night_start, &.night_finish {
      background-color: govuk-colour('black');
    }

    &.night_start, &.night_finish {
      background-image: url("../assets/images/night-shift.PNG");
      background-repeat: no-repeat;
      background-size: 25px 20px;
      background-position: top 0px right;
    }
  }
}
