.app-link-\!-border {
  border-left: 1px solid govuk-colour('mid-grey');
  padding-left: 5px;
}

ul.calendar .calendar-item {
  float: left;
  width: 14.1%;
  list-style: none;
  border: 1px solid govuk-colour('mid-grey');
  margin-left: -1px;
  margin-top: -1px;

  @include app-breakpoint {
    clear: left;
    width: 100%;
    margin-bottom: 20px;
    border-right: 1px solid govuk-colour('mid-grey');
    border-bottom: 1px solid govuk-colour('mid-grey');
  }
}

@media(max-width:1023px){
  .hide-0-to-1024{
    display:none;
  }
}

@media (min-width: 1024px) {
  .hide-1024-up {
    display: none;
  }
}

ul.calendar {

  padding: 0;
  @include govuk-font(16);

  .rest-day,
  .holiday,
  .shift,
  .illness,
  .absence,
  .detached-duty,
  .tu-official,
  .no-day,
  .calendar-item a {
    display: block;
    height: 125px;
    text-decoration: none;
    color: govuk-colour('black');

    @include app-breakpoint {
      height: inherit;
    }
  }

  .rest-day {
    color: white;
    background-color: govuk-colour('orange');
  }

  .holiday {
    color: white;
    background-color: govuk-colour('yellow');
  }

  .illness {
    color: white;
    background-color: govuk-colour('light-green');
  }

  .absence {
    color: white;
    background-color: govuk-colour('yellow');
  }

  .detached-duty {
    color: white;
    background-color: govuk-colour('brown');
  }

  .tu-official {
    color: white;
    background-color: govuk-colour('pink');
  }

  .no-day {
    background-color: govuk-colour('light-grey');

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item.calendar-header {
    @include govuk-typography-weight-bold;
    border: 0;
    text-align: center;

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item span {
    display: block;
    padding-left: 5px;

    &.day {
      padding-top: 5px;
      margin-bottom: 3px;
      background-color: govuk-colour('white');
    }

    &.detail {
      background-color: govuk-colour('green');
      padding: 2px 0 0 3px;
      color: govuk-colour('white');
      margin: 0 2px;
      border-radius: 2px;
      margin-top: 2px;
    }

    &.detail-start-night {
      background-color: govuk-colour('black');
    }

    &.detail-start-night-full {
      background-color: govuk-colour('black');
      background-image: url("../assets/images/night-shift.PNG");
      background-repeat: no-repeat;
      background-size: 25px 20px;
      background-position: top 2px right;
      margin-top: 76px;
    }

    &.detail-start-night-full-overtime {
      background-color: govuk-colour('black');
      background-image: url("../assets/images/night-shift.PNG");
      background-repeat: no-repeat;
      background-size: 25px 20px;
      background-position: top 2px right;
      margin-top: 76px;
    }

    &.detail-start-night-half {
      background-color: govuk-colour('black');
      background-image: url("../assets/images/night-shift.PNG");
      background-repeat: no-repeat;
      background-size: 25px 20px;
      background-position: top 2px right;
      margin-top: 28px;
    }

    &.detail-overtime-night {
      background-color: govuk-colour('black');
      margin-bottom: 1px;
    }

    &.detail-finish-night {
      background-color: govuk-colour('black');
    }

    &.detail-finish {
      background-color: govuk-colour('red');
    }

    &.detail-duration {
      margin-top: 3px;
    }

    &.detail-overtime {
      background-color: govuk-colour('purple');
      padding: 2px 0 0 3px;
      color: govuk-colour('white');
      margin: 0 2px;
      border-radius: 2px;
      margin-top: 53px;
      margin-bottom: 2px;
    }

    &.detail-overtime-before {
      background-color: govuk-colour('purple');
      padding: 2px 0 0 3px;
      color: govuk-colour('white');
      margin: 0 2px;
      border-radius: 2px;
      margin-bottom: 2px;
    }

    &.detail-overtime-after {
      background-color: govuk-colour('purple');
      padding: 2px 0 0 3px;
      color: govuk-colour('white');
      margin: 0 2px;
      border-radius: 2px;
      margin-top: 28px;
      margin-bottom: 2px;
    }

    &.detail-overtime-normal {
      background-color: govuk-colour('purple');
      padding: 2px 0 0 3px;
      color: govuk-colour('white');
      margin: 0 2px;
      border-radius: 2px;
      margin-top: 4px;
      margin-bottom: 2px;
    }
  }
}

.calendar-title {
  display: block;
}
