.app-link-\!-border {
  border-left: 1px solid govuk-colour('mid-grey');
  padding-left: 5px;
}

ul.calendar .calendar-item {
  float: left;
  width: 14%;
  list-style: none;
  border: 1px solid govuk-colour('mid-grey');

  @include app-breakpoint {
    float:none;
    width: 80%;
    margin: auto auto 20px;
    border: none;
  }
}

@media(max-width:1023px){
  .hide-0-to-1024{
    display:none;
  }
}

@media (min-width: 1024px) {
  .hide-1024-up {
    display: none;
  }
}


ul.calendar {

  padding: 0;
  @include govuk-font(16);

  .rest-day,
  .holiday,
  .shift,
  .illness,
  .absence,
  .detached-duty,
  .tu-official,
  .training-internal,
  .training-external,
  .otherType,
  .no-day,
  .calendar-item a {
    position: relative;
    text-decoration: none;
    color: govuk-colour('black');
    height: 225px;
    @include app-breakpoint {
      height: inherit;
    }
  }

  .rest-day {
    background-color: govuk-colour('orange');
  }

  .holiday, .absence, .training-external, .training-internal, .otherType {
    background-color: govuk-colour('yellow');
  }

  .illness {
    background-color: govuk-colour('light-green');
  }

  .detached-duty {
    background-color: govuk-colour('brown');
  }

  .tu-official {
    background-color: govuk-colour('pink');
  }

  .no-day {
    background-color: govuk-colour('light-grey');

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item.calendar-header {
    @include govuk-typography-weight-bold;
    border: none;
    text-align: center;

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item {
    border: 1px solid govuk-colour('mid-grey');
  }

  .calendar-item span{
    display: block;

    &.day {
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: govuk-colour('white');

      @include app-breakpoint {
        @include govuk-font(19);
      }

    }

    &.line{
      padding: 3px 0 3px 5px;
      min-height:25px;
      color: govuk-colour('black');

      @include app-breakpoint {
        text-align: center;
        padding: 15px 0 15px 0;
        @include govuk-font(24);
      }

    }

    &.day_start {
      background-color: govuk-colour('green');
      color: govuk-colour('white');
    }

    &.day_finish {
      background-color: govuk-colour('red');
      color: govuk-colour('white');
    }

    &.overtime_day_start, &.overtime_night_start {
      background-color: govuk-colour('purple');
      color: govuk-colour('white');
    }

    &.overtime_day_finish, &.overtime_night_finish {
      background-color: govuk-colour('light-purple');
      color: govuk-colour('white');
    }

    &.night_start, &.night_finish {
      background-color: govuk-colour('black');
      color: govuk-colour('white');
    }

    &.night_start, &.night_finish {
      background-image: url("../assets/images/night-shift.PNG");
      background-repeat: no-repeat;
      background-size: 25px 20px;
      background-position: top 0 right;

      @include app-breakpoint {
        background-size: 40px 35px;
        background-position: top 2px right;
      }
    }
  }
}
