.app-shift-detail {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  @include govuk-font(24);

  li {
    @include govuk-font(24);
    list-style: none;
    margin-bottom: 30px;

    span {
      display: block;

      &.time {
        border: 1px solid govuk-colour('mid-grey');
        width: 220px;
        margin-right: 15px;
        padding: 25px 0 20px 0;
        float: left;
        text-align: center;
      }

      &.description {
        padding-top: 25px;

        @include app-breakpoint {
          padding: 0;
        }
      }
    }

    @include app-breakpoint {
      border-top: 1px solid govuk-colour('mid-grey');
      padding: 15px 0 10px 0;
      margin-bottom: 10px;

      span.time {
        float: none;
        width: 100%;
        border: none;
        text-align: left;
        padding: 0;
        font-weight: bold;
      }

      &.detail-start,
      &.detail-start-overtime,
      &.detail-start-night,
      &.detail-finish,
      &.detail-finish-overtime,
      &.detail-rest-day,
      &.detail-illness,
      &.detail-absence,
      &.detail-detached-duty,
      &.detail-tu-official,
      &.detail-holiday {
        background-color: govuk-colour('green');
        margin-bottom: 0;
        color: white;
        padding: 10px 5px 10px 8px;
        border: none;
      }

      &.detail-start-night {
        background-color: govuk-colour('black');
      }
      &.detail-start-overtime {
        background-color: govuk-colour('purple');
      }
      &.detail-finish {
        background-color: govuk-colour('red');
      }
      &.detail-finish-overtime {
        background-color: govuk-colour('light-purple');
      }

      &.detail-holiday {
        background-color: govuk-colour('yellow');
      }

      &.detail-rest-day {
        background-color: govuk-colour('orange');
      }

      &.detail-holiday {
        background-color: govuk-colour('yellow');
      }

      &.detail-illness {
        background-color: govuk-colour('light-green');
      }

      &.detail-absence {
        background-color: govuk-colour('yellow');
      }

      &.detail-detached-duty {
        background-color: govuk-colour('brown');
      }

      &.detail-tu-official {
        background-color: govuk-colour('pink');
      }
    }

    &.detail-start span.time,
    &.detail-start-overtime span.time,
    &.detail-start-night span.time,
    &.detail-finish span.time,
    &.detail-finish-overtime span.time,
    &.detail-holiday span.time,
    &.detail-illness span.time,
    &.detail-absence span.time,
    &.detail-detached-duty span.time,
    &.detail-tu-official span.time,
    &.detail-rest-day span.time {
      background-color: govuk-colour('green');
      border: none;
      color: govuk-colour('white');
    }

    &.detail-finish span.time {
      background-color: govuk-colour('red');
    }

    &.detail-start-night span.time {
      background-color: govuk-colour('black');
    }

    &.detail-holiday span.time {
      background-color: govuk-colour('yellow');
    }

    &.detail-rest-day span.time {
      background-color: govuk-colour('orange');
    }

    &.detail-holiday span.time {
      background-color: govuk-colour('yellow');
    }

    &.detail-illness span.time {
      background-color: govuk-colour('light-green');
    }

    &.detail-absence span.time {
      background-color: govuk-colour('yellow');
    }

    &.detail-detached-duty span.time {
      background-color: govuk-colour('brown');
    }

    &.detail-tu-official span.time {
      background-color: govuk-colour('pink');
    }
    &.detail-start-overtime span.time {
      background-color: govuk-colour('purple');
    }
    &.detail-finish-overtime span.time {
      background-color: govuk-colour('light-purple');
    }
  }
}
