.app-shift-detail {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  @include govuk-font(24);

  li {
    @include govuk-font(24);
    list-style: none;
    margin-bottom: 30px;

    div {
      display: inline-block;

      &.time {
        border: 1px solid govuk-colour('mid-grey');
        width: 220px;
        border-radius: 3px;
        margin-right: 15px;
        padding: 25px 0 20px 0;
        text-align: center;
      }

      &.description {
        padding-top: 25px;

        @include app-breakpoint {
          padding: 0;
        }
      }
    }

    @include app-breakpoint {
      border-top: 1px solid govuk-colour('mid-grey');
      padding: 15px 0 10px 0;
      margin-bottom: 10px;

      div.time {
        float: none;
        width: 100%;
        border: none;
        text-align: left;
        padding: 0;
        font-weight: bold;
      }

      &.rest_day,
      &.illness,
      &.absence,
      &.detached_duty,
      &.tu_official,
      &.holiday {
        background-color: govuk-colour('green');
        margin-bottom: 0;
        color: white;
        padding: 10px 5px 10px 8px;
        border-radius: 3px;
        border: none;
      }

      &.start_night {
        background-color: govuk-colour('black');
      }
      &.overtime_day_start, &.overtime_night_start {
        background-color: govuk-colour('purple');
      }
      &.day_finish, &.overtime_night_finish {
        background-color: govuk-colour('red');
      }
      &.overtime_day_finish {
        background-color: govuk-colour('light-purple');
      }

      &.holiday {
        background-color: govuk-colour('yellow');
      }
      
      &.rest_day {
        background-color: govuk-colour('orange');
      }

      &.holiday {
        background-color: govuk-colour('yellow');
      }
  
      &.illness {
        background-color: govuk-colour('light-green');
      }
  
      &.absence {
        background-color: govuk-colour('yellow');
      }
  
      &.detached_duty {
        background-color: govuk-colour('brown');
      }
  
      &.tu_official {
        background-color: govuk-colour('pink');
      }
    }

    &.day_start div.time,
    &.overtime_day_start div.time,
    &.overtime_day_finish div.time,
    &.day_finish div.time,
    &.night_start div.time,
    &.night_finish div.time,
    &.overtime_night_start div.time,
    &.overtime_night_finish div.time,
    &.holiday div.time,
    &.illness div.time,
    &.absence div.time,
    &.detached-duty div.time,
    &.tu-official div.time,
    &.rest-day div.time {
      background-color: govuk-colour('green');
      border: none;
      color: govuk-colour('white');
    }    
    
    &.day_finish div.time, &.night_finish div.time {
      background-color: govuk-colour('red');
    }

    &.night_start div.time {
      background-color: govuk-colour('black');
    }

    &.holiday div.time {
      background-color: govuk-colour('yellow');
    }

    &.rest-day div.time {
      background-color: govuk-colour('orange');
    }

    &.holiday div.time {
      background-color: govuk-colour('yellow');
    }

    &.illness div.time {
      background-color: govuk-colour('light-green');
    }

    &.absence div.time {
      background-color: govuk-colour('yellow');
    }

    &.detached-duty div.time {
      background-color: govuk-colour('brown');
    }

    &.tu-official div.time {
      background-color: govuk-colour('pink');
    }
    &.overtime_day_start div.time, &.overtime_night_start div.time {
      background-color: govuk-colour('purple');
    }
    &.overtime_day_finish div.time {
      background-color: govuk-colour('light-purple');
    }
  }
}
