{% extends "./partials/layout.njk" %}

{% block content %}
  <main id="main-content" role="main">
    <h1 class="govuk-heading-l">
      Authorisation Error
    </h1>
    <p class="govuk-body">
      You are not authorised to use this application.
    </p>
  </main>
{% endblock %}

