<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <%- include ('./partials/head') -%>
</head>
<body class="govuk-template__body">

<%- include ('./partials/header') -%>

<div class="govuk-width-container">

  <main id="main-content" class="govuk-main-wrapper" role="main">
    <h1 class="govuk-heading-l">
        Authorisation Error
      </h1>
      <p class="govuk-body">
        You are not authorised to use this application.
      </p>
  </main>

</div>

<%- include ('./partials/footer') -%>

</body>
</html>
