.app-link-\!-border {
  border-left: 1px solid govuk-colour('mid-grey');
  padding-left: 5px;
}

ul.calendar .calendar-item {
  float: left;
  width: 14%;
  list-style: none;
  border: 1px solid govuk-colour('mid-grey');
  overflow: auto;

  @include app-breakpoint {
    float: none;
    width: 100%;
    margin: auto auto 20px;
    border: none;
  }
}

@media(max-width: 1023px) {
  .hide-0-to-1024 {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-1024-up {
    display: none;
  }
}


ul.calendar {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @include app-breakpoint {
    display: revert;
  }
  margin: 0;
  padding: 0;
  @include govuk-font(16);

  .rest-day,
  .holiday,
  .illness,
  .absence,
  .detached-duty,
  .tu-official,
  .training-internal,
  .training-external,
  .otherType,
  .no-day {
    text-decoration: none;
    @include app-breakpoint {
      height: auto;
    }
  }

  .rest-day {
    color: govuk-colour('white');
    background-color: govuk-colour('orange');
  }

  .holiday, .absence, .training-external, .training-internal, .otherType {
    color: govuk-colour('black');
    background-color: govuk-colour('yellow');
  }

  .illness {
    color: govuk-colour('white');
    background-color: govuk-colour('light-green');
  }

  .detached-duty {
    color: govuk-colour('white');
    background-color: govuk-colour('brown');
  }

  .tu-official {
    color: govuk-colour('white');
    background-color: govuk-colour('pink');
  }

  .no-day {
    color: govuk-colour('black');
    background-color: govuk-colour('light-grey');

    @include app-breakpoint {
      display: none;
    }
  }

  .black-on-white {
    color: govuk-colour('black');
    background-color: govuk-colour('white');
  }

  .calendar-header {
    @include govuk-typography-weight-bold;
    float: left;
    width: 14.28%;
    list-style: none;
    border: none;
    text-align: center;
    @include govuk-font(14, $weight: "bold");

    @include app-breakpoint {
      display: none;
    }
  }

  .calendar-item {
    border: 1px solid govuk-colour('mid-grey');
  }

  .calendar-item span {
    display: block;

    &.day {
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      min-height: 25px;

      @include app-breakpoint {
        @include govuk-font(19);
        padding: 15px 10px 15px 10px;
      }
    }

    &.line {
      padding: 3px 5px 3px 5px;
      min-height: 15px;
      overflow: auto;
      @include govuk-font(14);

      @include app-breakpoint {
        padding: 15px 10px 15px 10px;
        @include govuk-font(24);
      }
    }

    &.line-left {
      float: left;
    }

    &.line-right {
      float: right;
      @include app-breakpoint {
        @include govuk-font(24);
      }
    }

    &.day_start {
      background-color: govuk-colour('green');
      color: govuk-colour('white');
    }

    &.day_finish {
      background-color: govuk-colour('red');
      color: govuk-colour('white');
    }

    &.overtime_day_start, &.overtime_night_start {
      background-color: govuk-colour('light-purple');
      color: govuk-colour('white');
    }

    &.overtime_day_finish, &.overtime_night_finish {
      background-color: govuk-colour('purple');
      color: govuk-colour('white');
    }

    &.night_start, &.night_finish {
      background-color: govuk-colour('black');
      color: govuk-colour('white');
    }
  }

  hr {
    margin: 0 10px 20px 10px;
    padding: 0 0 0 0;
  }
}

ul.calendar-clear {
  clear: both;
}

.strict-grid-column-one-third {
  width: 33.33%;
  float: left;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  flex-align: stretch;
}

.flex-stretch {
  flex-grow: 1;
}
