@import "govuk-frontend/dist/govuk/index";
@import "./_mixins";

.app-tabs {
  height: 50px;
  border-bottom: 2px solid govuk-colour('blue');
  margin: 0;
  padding: 0;
  @include govuk-responsive-margin(2, top);
  @include govuk-responsive-margin(6, bottom);
  @include govuk-responsive-padding(2, left);

  @include govuk-media-query(mobile, tablet) {
    height: 45px;
  }

  .app-tabs-item {
    @include govuk-font(19);
    float: left;
    margin: 0;
    padding: 0;
    background-color: govuk-colour('light-grey');
    list-style: none;

    a {
      padding: 12px 18px;
      display: block;
      text-decoration: none;
    }

    &.app-tabs-item--active a {
      border: 1px solid govuk-colour('blue');
      background-color: govuk-colour('blue');
      color: govuk-colour('white');
    }

    .app-tabs-item__notification {
      @include govuk-font(14, bold);
      color: govuk-colour('white');
      background: govuk-colour('orange');
      padding: 5px 10px;
      margin-left: 5px;
    }
  }
}

div.tabs-wrapper {
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  text-transform: none;

  @include app-breakpoint {
    font-size: 15px;
  }
}

ul.tabs {
  margin-top: 30px;
  height: 50px;
  border-bottom: 2px solid #005ea5;
  margin-bottom: 30px;
  padding-left: 10px;
  list-style-type: none;
}

ul.tabs li {
  float: left;
  margin-bottom: 20px;
  background-color:  #f8f8f8;
}

ul.tabs li a {
  padding: 12px 18px;
  display: block;
  text-decoration: none;
}

ul.tabs li a.active {
  border: 1px solid #005ea5;
  background-color: #005ea5;
  color: white;
  text-decoration: none;
}
