# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
maxReplicaCount: 2

image:
  repository: quay.io/hmpps/check-my-diary
  tag: latest
  port: 3000

ingress:
  enabled: true
  enable_whitelist: false
  host: check-my-diary-preprod.prison.service.justice.gov.uk
  cert_secret: check-my-diary-cert
  path: /

env:
  REJECT_UNAUTHORIZED: "0"
  WEB_SESSION_TIMEOUT_IN_MINUTES: "20"
  MAINTENANCE_START: "2019-12-20T14:00:00"
  MAINTENANCE_END: "2019-12-20T15:00:00"
  API_AUTH_ENDPOINT_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
