---
generic-service:
  replicaCount: 4

  ingress:
    host: checkmydiary.service.justice.gov.uk
    tlsSecretName: tls-certificate

  env:
    # Note that these times are now in local time, so BST in summer and GMT in winter
    MAINTENANCE_START: "2026-01-24T18:00:00"
    MAINTENANCE_END: "2026-01-24T21:00:00"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    INGRESS_URL: https://checkmydiary.service.justice.gov.uk
    TOKEN_VERIFICATION_API_URL: https://token-verification-api.prison.service.justice.gov.uk
    DPS_HOME_URL: https://digital.prison.service.justice.gov.uk
    CMD_API_URL: https://cmd-api.prison.service.justice.gov.uk

generic-prometheus-alerts:
  ingress2xxEnabled: true
  ingress2xxThreshold: 300

  elastiCacheAlertsClusterIds:
    cp-b603dacd90f94dd7-001: "HMPPS Check my Diary ElastiCache Cluster Node 1"
    cp-b603dacd90f94dd7-002: "HMPPS Check my Diary ElastiCache Cluster Node 2"
