<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">
	<a href="/calendar" class="link-back">Back</a>
	  
	  
	<div class="grid-row">
		<div class="column-full">			
			<h1  class="heading-large">Tuesday 3/7/2018, Pentonville</h1>
			<ul id="shiftDetail" class="font-medium">
				<li>
					<span class="time time-start c-align">07:30 - 12:30</span>
					<span class="description">Start location: Res 2</span>
					<span class="notes font-xsmall">Security input until 11:45 then Friday prayers/Eid Festival</span>
				</li>
				<li>
					<span class="time c-align">12:30 - 13:30</span>
					<span class="description">Break</span>
				</li>
				<li>
					<span class="time c-align">13:45 - 17:30</span>
					<span class="description">Healthcare Education Patrol</span>
				</li>
				<li>
					<span class="time c-align">17:30 - 19:30</span>
					<span class="description">Overtime (2 hr)</span>
					<span class="notes font-xsmall">Funeral escort</span>
				</li>
				<li>
					<span class="time time-finish c-align">19:30</span>
					<span class="description">End of shift</span>
				</li>
			</ul>
			<a href="#" class="btn-next-detail font-medium">Thursday 8/6/2018  &rarr;</a>
		</div>
	</div>
	  
  </main>

  <% include ../partials/footer %>
</body>
</html>