{% extends "../partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Calendar" %}

{% block content %}
  <main id="main-content" role="main">

    {% if showBanner.notifications %}
      <div class="govuk-notification-banner govuk-!-margin-top-4 govuk-!-width-full" role="region"
        aria-labelledby="govuk-notification-banner-title-sms" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-sms">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content" id="banner-sms">
          You now have the option of receiving shift changes via text or email - use the
          <a class="govuk-notification-banner__link" href="/notifications/settings">notification settings page</a>
          to select your preferred option.
          <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="SMS_BANNER" href="#">Dismiss</a></p>
        </div>
      </div>
    {% endif %}
    {% if showBanner.mfa %}
      <div class="govuk-notification-banner govuk-!-margin-top-4 govuk-!-width-full" role="region"
        aria-labelledby="govuk-notification-banner-title-mfa" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-mfa">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content" id="banner-mfa">
          {% switch (showBanner.mfa) %}
          {% case mfaBannerType.EXISTING_USER %}
            {# Existing user (already uses CMD) #}
            You can manage your two-factor authentication (2FA) settings on the <a
                    class="govuk-notification-banner__link" href="/account-details">Manage your details</a> page.
            You can also access this via the top bar.
            <p>You no longer need to contact the support team to change these settings.</p>
            <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="EXISTING_USER" href="#">Dismiss</a></p>
          {% case mfaBannerType.NEW_USER %}
            {# (existing DPS user with 2FA, new to CMD) #}
            You can manage your two-factor authentication (2FA) settings on the <a
                    class="govuk-notification-banner__link" href="/account-details">Manage your details</a> page.
            <p>Once signed in, you can change these settings from inside or outside an establishment.</p>
            <p>You can also receive emails or texts when your shifts change. Set this up by entering your personal email address or mobile number on the <a
                      class="govuk-notification-banner__link" href="/notifications/settings">Notifications</a> page.</p>
            <p>You can change your 2FA and notifications settings by following the links in the top bar.</p>
            <p class="govuk-!-margin-top-2"><a class="govuk-link govuk-link--no-visited-state notification_dismiss_link" id="NEW_USER" href="#">Dismiss</a></p>
          {% case mfaBannerType.FIRST_TIME_USER %}
            {# (existing DPS user without 2FA, new to CMD) #}
            You need to set up two-factor authentication (2FA) to help secure access to your account.
            <p>You must add a backup personal email address whilst in the establishment on the <a
                      class="govuk-notification-banner__link" href="/account-details">Manage your details</a> page, which can be verified later at home.
               A phone number can then be added too.</p>
            <p>We will use these to confirm it's you signing in to your account. You will have to be outside the establishment to verify the email address or phone number.</p>
            <p>You can also receive emails or texts when your shifts change. Set this up by entering your personal email address or mobile number on the <a
                      class="govuk-notification-banner__link" href="/notifications/settings">Notifications</a> page.</p>
          {% endswitch %}
        </div>
      </div>
    {% endif %}

    {% if fromDPS %}
      {{ govukBreadcrumbs({ items: [{ text: 'Digital Prison Services', href: dpsHomeUrl }] }) }}
    {% endif %}
    <h1 class="govuk-heading-m govuk-!-margin-top-3">Your shift detail</h1>

    <div class="govuk-grid-row govuk-!-margin-0">
      <div class="strict-grid-column-one-third">
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/{{previousMonth.link}}" data-qa="previous">
          < {{previousMonth.text}}
        </a>
      </div>
      <div class="strict-grid-column-one-third">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0 center-align" tabindex="0">{{currentMonth}}</h1>
      </div>
      <div class="strict-grid-column-one-third right-align">
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" href="/calendar/{{nextMonth.link}}">
          {{nextMonth.text}} >
        </a>
      </div>
    </div>

    {% if not data or data.length === 0 %}
      <div class="moj-banner--warning">
        <div class="moj-banner__message">
          There is no shift information to show for this account.
        </div>
      </div>
    {% else %}
      <ul class="calendar govuk-!-margin-bottom-1 govuk-!-margin-top-4" aria-hidden="true">
        {% for day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
          <li class="calendar-header">{{ day }}</li>
        {% endfor %}
      </ul>
      <div class="hide-0-to-1024"> {# DESKTOP #}
        <ul class="calendar">
          {% for day in data %}
              <li class="calendar-item{% if day.details === undefined %} no-day{% endif %}{% if day.isFullDay %} flex-parent{% endif %}"
                  data-qa="d{{ day.dateText }}">
                {% if day.fullDayType !== 'no-day' %}

                  <div tabindex="0">
                    <span class="day">
                      <span class="line-left govuk-!-font-weight-bold" aria-hidden="true">{{ day.dateText }}</span>
                      <span class="govuk-visually-hidden">{{ day.dateScreenReaderText }}</span>
                    </span>
                  </div>

                  <div class="{{ day.fullDayType }}{% if day.isFullDay %} flex-stretch{% endif %}" tabindex="0">
                    {# If its a full day activity, and there is a night shift end at the top, split it out so its shown
                       above the full day start #}
                    {{ showDetails([day.details[0]], not (day.nightFinishDetected)) }}
                    {% if day.isFullDay %}
                      <span class="line">{{ day.fullDayTypeDescription }}</span>
                    {% endif %}
                    {{ showDetails(day.details, day.nightFinishDetected) }}
                  </div>
                {% endif %}
              </li>
              {% if loop.index % 7 == 0 %}
                </ul>
                <ul style="clear: both" class="calendar">
              {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="hide-1024-up"> {# MOBILE #}
        <ul class="calendar">
        {% for day in data %}
            <li class="calendar-item {{ day.fullDayType }}{% if day.details === undefined %} no-day hide-0-to-1024{% endif %}"
                data-qa="m{{ day.dateText }}">
              {# ^ Disable focussing on today only if banner shown AND on mobile device #}
              {% if day.fullDayType !== 'no-day' %}
                {# If its a full day activity, and there is a night shift end, cancel out the colour of the date line #}
                <div class="{{ 'black-on-white' if day.nightFinishDetected else day.fullDayType }}" tabindex="0">
                  <span class="day">
                    <span class="line-left govuk-!-font-weight-bold" aria-hidden="true">{{ day.dateDayText }}</span>
                    <span class="govuk-visually-hidden">{{ day.dateScreenReaderText }}</span>
                    {% if day.isFullDay and not day.nightFinishDetected %}
                      <span class="line-right">{{ day.fullDayTypeDescription }}</span>
                    {% endif %}
                  </span>
                </div>
                <div tabindex="0"{% if day.today and not (showBanner.notifications or showBanner.mfa) %} id="today"{% endif %}>
                  {{ showDetails([day.details[0]], not (day.nightFinishDetected)) }}
                  {% if day.isFullDay and day.nightFinishDetected %}
                    <span class="line">{{ day.fullDayTypeDescription }}</span>
                  {% endif %}
                  {{ showDetails(day.details, day.nightFinishDetected) }}
                </div>
              {% endif %}
            </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
    <input type="hidden" id="_csrf" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-clearfix"> </div>
  </main>
{% endblock %}
{% block bodyEnd %}
{{ super() }}
  <script type="text/javascript">
    function hideBanner(event) {
      const mainBanner = event.target.parentNode.parentNode.parentNode // main div is 3 levels up
      const id = event.target.id;
      const csrf = document.getElementById("_csrf").getAttribute('value');

      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/calendar/dismiss");
      xhr.setRequestHeader("X-CSRF-Token", csrf);
      xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function() {
        if (this.status === 200) {
          if (this.readyState === XMLHttpRequest.DONE) {
            mainBanner.style.display="none";
          }
        } else {
          window.location = "/";
        }
      }
      xhr.send(`{ "id": "${id}" }`);
    }

    const links = document.getElementsByClassName("notification_dismiss_link")
    if (links[0]) links[0].addEventListener("click", hideBanner);
    if (links[1]) links[1].addEventListener("click", hideBanner);
  </script>
{% endblock %}

{% macro showDetails(details, skipFirst = false) %}
  {% for detail in details %}
    {% if not skipFirst or not loop.first %}
      {% if detail.specialActivityColour %}
        <span class="line {{ detail.specialActivityColour }}">{{ detail.activityDescription }}</span>
      {% endif %}
      <span class="line {{ detail.displayType }}{% if loop.last %} full-height{% endif %}">
        {% if detail.showNightHr %}
          <hr />
        {% endif %}
        <span class="line-left">{{ detail.lineLeftText }}</span>
        {% if detail.lineRightText %}
          <span class="line-right {{ detail.displayType }}">{{ detail.lineRightText }}</span>
        {% endif %}
      </span>
      {% if detail.finishDuration %}
        <span class="govuk-visually-hidden">Shift length</span>
        <span class="line {{ detail.durationColour }}">{{ detail.finishDuration }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
