{% extends "../partials/layout.njk" %}
{% from "../partials/breadcrumbs.njk" import breadcrumbs with context %}

{% set pageTitle = applicationName + " - Contact us" %}
{% set activePrimaryNav = "calendar" %}

{% block beforeContent %}
    {% if fromDPS %}
      {{ breadcrumbs() }}
    {% endif %}
{% endblock %}

{% block content %}
  <main id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Contact us</h1>
        <p class="govuk-body">
          For queries about Check my diary, please call the Service Desk on
          <span class="govuk-body" style="white-space: nowrap;" nonce="{{ cspNonce }}">0800 917 5148</span>.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
