<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="govuk-template__body">
    <% include ../partials/header %>

    <div class="govuk-width-container">
      <% include ../partials/beta-banner %>
      <a href="/" class="govuk-back-link">Back</a>
      <main id="main-content" role="main" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Contact us</h1>
            <p class="govuk-body">
              Contact <a href="mailto:checkmydiary@digital.justice.gov.uk"  class="govuk-link">checkmydiary@digital.justice.gov.uk</a>.
            </p>
            <p class="govuk-body">
              Alternatively, please call the Service Desk on
              <span class="govuk-body" style="white-space: nowrap;">0203 788 4636</span>.
            </p>
          </div>
        </div>
      </main>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
