{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Contact us" %}
{% set activePrimaryNav = "calendar" %}

{% block beforeContent %}
  {{ govukBackLink({ href: "/" }) }}
{% endblock %}

{% block content %}
  <main id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Contact us</h1>
        <p class="govuk-body">
          For queries about Check My Diary please call the Service Desk on
          <span class="govuk-body" style="white-space: nowrap;" nonce="{{ cspNonce }}">0800 917 5148</span>.
        </p>
        <p class="govuk-body">
          Alternatively, you can <a href="mailto:checkmydiary@digital.justice.gov.uk" class="govuk-link">email us at
            checkmydiary@digital.justice.gov.uk</a>.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
