{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Contact us" %}
{% set backLinkHref = "/" %}

{% block content %}
  <main id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Contact us</h1>
        <p class="govuk-body">
          For queries about Check my diary, call the Service Desk on 0800 917 5148 or #6598 from inside an establishment.
        </p>
        <p class="govuk-body">
          Alternatively, you can email us at <a href="mailto:checkmydiary@digital.justice.gov.uk" class="govuk-link">
            checkmydiary@digital.justice.gov.uk</a>.
        </p>
      </div>
    </div>
  </main>
{% endblock %}
