<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="govuk-template__body">
    <% include ../partials/header %>

    <div class="govuk-width-container">
      <% include ../partials/beta-banner %>

      <main id="main-container" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">
        <h1 class="govuk-heading-l"><%= message %></h1>

        <p class="govuk-caption-l govuk-!-margin-bottom-6"><%= status %></p>

        <p class="govuk-body"><%= stack %></p>
      </main>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
