<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <% include ../partials/head %>
</head>
<body class="govuk-template__body">

<% include ../partials/header %>

<div class="govuk-width-container">

  <% include ../partials/beta-banner %>

  <main id="main-content" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Service unavailable</h1>

        <p class="govuk-caption-l govuk-!-margin-bottom-6">
          Due to scheduled maintenance for Check My Diary the service is unavailable from <%= parseFullDateFormat(startDateTime) %> at <%= getTimeFromDate(startDateTime) %> to <%= parseFullDateFormat(endDateTime) %> at <%= getTimeFromDate(endDateTime) %>.          
        </p>

        <p class="govuk-body">
          This service is currently undergoing planned maintenance by our development team. Contact the orderly officers
          for shift detail
        </p>

      </div>

    </div>
  </main>

</div>

<% include ../partials/footer %>

</body>
</html>
