<% include ../helpers/helpers %>

<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="govuk-template__body">
    <% include ../partials/header %>

    <div class="govuk-width-container">
      <% include ../partials/beta-banner %>

      <main id="main-content" class="govuk-main-wrapper govuk-!-margin-bottom-8" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Service Unavailable</h1>

            <p class="govuk-caption-l govuk-!-margin-bottom-6">
              We are performing scheduled maintenance from <%= startDateTime %> until <%= endDateTime %>.
            </p>

            <p class="govuk-body">
              The service will be unavailable during this time.
            </p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          </div>
        </div>
      </main>
    </div>

    <% include ../partials/footer %>
  </body>
</html>
