<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <main id="content" class="app-container" role="main">
      <% include ../partials/alpha-banner %>
      <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Service unavailable</h1>

            <p class="lede">
                We expect to be back on 21/7/2018 at 6:45pm (British Summer Time)
            </p>
            
            <p>
                This service is currently undergoing planned maintenance by our development team. Contact the orderly officers for shift detail
            </p>
        </div>

      </div>
  </main>

  <% include ../partials/footer %>
</body>
</html>
