<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
  <% include ../partials/head %>
</head>
<body class="govuk-template__body">

<% include ../partials/header %>

<div class="govuk-width-container">

  <% include ../partials/beta-banner %>

  <main id="main-content" class="govuk-main-wrapper" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Enter the access code</h1>

        <% if (authError) { %>

          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li><b>The access code entered is invalid</b></li>
              </ul>
            </div>
          </div>
        <% } %>

        <form action="/auth/2fa" method="POST">
          <div class="govuk-form-group">
            <label for="code" class="govuk-label">Access code</label>
            <input type="tel" name="code" id="code" class="govuk-input govuk-!-width-one-third" autocomplete="off" autofocus />
          </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

          <button type="submit" class="govuk-button">Continue</button>

        </form>

      </div>

    </div>
  </main>

</div>

<% include ../partials/footer %>

</body>
</html>
